# ===============================
# NODE / NPM
# ===============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===============================
# ENV FILES (VERY IMPORTANT)
# ===============================
.env
.env.local
.env.development
.env.production

# ===============================
# BUILD OUTPUTS
# ===============================
dist/
build/

# ===============================
# VITE
# ===============================
.vite/

# ===============================
# LOG FILES
# ===============================
logs/
*.log

# ===============================
# OS FILES
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE / EDITOR
# ===============================
.vscode/
.idea/
*.swp

# ===============================
# COVERAGE
# ===============================
coverage/

# ===============================
# MONGO
# ===============================
dump/

# ===============================
# TEMP
# ===============================
.tmp/
temp/
